.content-section {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.bg-light {
    background-image: url(../../assets/img/wallpaper.jpg);
    background-size: cover;
    -webkit-filter: blur(0px); /* Safari 6.0 - 9.0 */
    filter: blur(1px);
}